{
	"env": {
		"browser": true
	},
	"globals": {
		"Back": true,
		"Circ": true,
		"createjs": true,
		"CustomEase": true,
		"Elastic": true,
		"gdqUtils": true,
		"Linear": true,
		"MaybeRandom": true,
		"nodecg": true,
		"Polymer": true,
		"Power1": true,
		"Power2": true,
		"Power3": true,
		"Power4": true,
		"Sine": true,
		"SlowMo": true,
		"SVG": true,
		"textFit": true,
		"TimelineLite": true,
		"TimelineMax": true,
		"TweenLite": true,
		"TweenMax": true,
		"TypeAnims": true
	}
}
